// color
$clr-primary: #4DAD52;
$clr-secondary: #F25C14;

// font
$ff-base: 'Nunito Sans';
$ff-heading: 'Montserrat';
$ff-pacifico: 'Pacifico';

// bootstrap
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;