// --------------------------------

// Align self

// --------------------------------

.self-center { align-self: center !important; }
.self-start { align-self: flex-start !important; }
.self-end { align-self: flex-end !important; }