// --------------------------------

// Mix Blend Mode

// --------------------------------

.isolate { isolation: isolate !important; }
.blend-multiply { mix-blend-mode: multiply !important; }
.blend-overlay  { mix-blend-mode: overlay !important; }

