// --------------------------------

// Border radius

// --------------------------------

.radius-sm { border-radius: var(--radius-sm) !important; }
.radius-md { border-radius: var(--radius-md) !important; }
.radius-lg { border-radius: var(--radius-lg) !important; }

.radius-top-left { border-top-left-radius: var(--radius-md) !important; }
.radius-top-right { border-top-right-radius: var(--radius-md) !important; }
.radius-bottom-left { border-bottom-left-radius: var(--radius-md) !important; }
.radius-bottom-right { border-top-right-radius: var(--radius-md) !important; }

.radius-50\% { border-radius: 50% !important; }
.has-no-radius { border-radius: 0 !important; }

@include breakpoint(sm, "not all") {
  .has-radius\@sm { border: none !important; }
}

@include breakpoint(md) {
  .has-no-radius\@sm { border: none !important; }
}

@include breakpoint(md, "not all") {
  .has-radius\@md { border: none !important; }
}

@include breakpoint(md) {
  .has-no-radius\@md { border: none !important; }
}
