.row {
  &.gap-50 {
    margin-left: -25px;
    margin-right: -25px;
    [class*="col-"] {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

.text-primary {
  color: $clr-primary;
}

@include media-breakpoint-down(sm) {
  .show-desktop {
    display: none; 
  }
}
@include media-breakpoint-up(md) {
  .show-mobile {
    display: none;
  }
}