// --------------------------------

// Transform

// --------------------------------

.flip   { transform: scale(-1) !important; }
.flip-x { transform: scaleX(-1) !important; }
.flip-y { transform: scaleY(-1) !important; }