// variables
$clr-primary: #4DAD52;
$clr-secondary: #5F6368;

// general
body {
  font-size: 14px;
}
.card-footer {
  background-color: #fff;
}
#submit-footer {
  &.disabled {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

// Header
#topnav {
  .topbar-main {
    background-color: #fff;
  }
  .navbar-custom {
    background: $clr-secondary;
  }
  .navbar-toggle {
    span, &:hover span{
      background: $clr-primary;
    }
  }
  .navigation-menu {
    &>li {
      &>a {
        font-size: 15px;
        &:hover, &.active {
          background-color: rgba(255, 255, 255, 0.18);
        }
      }
    }
  }
  
  @media (min-width: 992px) {
    .navigation-menu {
      &>li {
        &:first-of-type>a {
          padding-left: 25px;
        }
        &>a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}

// Table
.dt-bootstrap4 {
  padding: 0;
  margin: 0;
  width: 100%;
}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
  padding: 10px;
}

// modal
.modal {
  &.loading {
    .modal-content {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.45);
        z-index: 9;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('../../img/loading.svg');
        background-repeat: no-repeat;
        background-size: 80px;
        background-position: center;
        z-index: 9;
      }
    }
  }
}

// form
.form-control {
  font-size: 14px;

  & + .select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
    .select2-selection__rendered {
      line-height: 35px;
    }
    .select2-selection__arrow {
      height: 33px;
    }
  }
  & + .select2-container .select2-selection--single {
    height: 35px;
  }
}
.help-block {
  p {
    margin: 0;
  }
}

// Dropzone
.dropzone {
  min-height: 180px;
  padding: 10px;
  .dz-message {
    font-size: 20px;
    margin: 3em 0;
  }
  .dz-preview {
    margin: 10px;
    .dz-image {
      width: 100px;
      height: 100px;
      img {
        max-width: 100%;
      }
    }
    .dz-remove {
      font-size: 12px;
      color: #f32f53;
    }
    .dz-details {
      padding: 1.5em 1em;
    }
  }
  
}
#featured_img {
  .dz-preview {
    .dz-image {
      width: unset;
      height: unset;
      min-height: 110px;
    }
  }
}