.box {
  background: #fff;
  overflow: hidden;
  &-thumb {
    margin-bottom: 69px;
    display: block;
  }
  &-title {
    font-size: 18px;
    line-height: (22/18);
    letter-spacing: -0.02em;
    margin-bottom: 4px;
  }
  &-desc {
    font-size: 14px;
    line-height: (19/14);
    letter-spacing: -0.02em;
    margin-bottom: 27px;
  }
  &-info {
    font-size: 12px;
    line-height: (16/12);
    margin-bottom: 12px;
    &__cat {
      color: #000000;
      letter-spacing: 0.1em;
    }
    &__date {
      letter-spacing: -0.02em;
      color: #5F6368;
      i {
        margin-right: 9px;
      }
    }
  }
  &-body {
    padding: 20px;
  }
  &-border {
      border: 1px solid #ececec;
  }
  &-content__product {
    background: #FAFDFA;
    padding: 16px 16px 13px;
    .box-title {
      font-weight: 500;
      font-size: 16px;
    }
    .label {
      font-size: 12px;
      padding: 0;
      background: none;
      margin-bottom: 16px;
    }
    .box-product__info-item .product-price {
      font-weight: 700;
      font-family: $ff-heading;
      font-size: 16px;
    }
  }
  &-transparent {
    background: transparent;
  }
  &-hover {
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 5px 30px rgba(0,0,0,0.07)
    }
  }
  &-grey {
    background: #EBEFF2;
  }
  &-rounded-10 {
    border-radius: 10px;
  }
  &-rounded-15 {
    border-radius: 15px;
  }
  &-rounded-20 {
    border-radius: 20px;
  }

  &-journey {
    padding: 50px 45px 19px;
    height: 100%;
    &__title {
      font-size: 18px;
      line-height: (22/18);
      margin-bottom: 16px;
    }
    &__desc {
      font-size: 14px;
      line-height: (19/14);
      margin: 0;
    }
  }
  &-health-product  {
    .box-content {
      padding: 69px 0 74px 72px;
    }
    .box-img {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-product {
    margin: 0 auto 50px;
    max-width: 349px;
    display: block;
    &--sm {
      max-width: 259px;
      margin-bottom: 0;
    }
    .btn {
      font-size: 12px;
      line-height: (15/12);
    }
    &__info {
      &-item {
        &:nth-child(odd) {
          margin-right: 10px;
        }
        letter-spacing: -0.02em;
        color: #5F6368;
        .product-price {
          font-size: 14px;
          line-height: (19/14);
          margin: 0;
        }
        .product-stock {
          font-size: 12px;
          line-height: (16/12);
          margin-bottom: 0;
        }
      }
    }
  }
  &-blog {
    .box {
      &-thumb {
        margin-bottom: 24px;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
  &-event {
    .box {
      &-thumb {
        margin-bottom: 23px;
      }
    }
    .event-status {
      letter-spacing: 1;
      margin-left: 9px;
    }
    .event-location {
      font-size: 12px;
      line-height: (16/12);
      letter-spacing: -0.02em;
      color: #A8A8A8;
      margin-bottom: 10px;
      display: block;
    }
  }

  @include media-breakpoint-down(md) {
    &-thumb {
      margin-bottom: 35px;
    }
    &-info {
      &__cat {
        margin-bottom: 5px;
      }
    }
    &-journey {
      padding: 30px 20px 19px;
    }
    &-health-product {
      position: relative;
      .box-img {
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: right;
      }
      .box-content {
        position: relative;
        z-index: 1;
        padding: 30px 0 40px 40px;
        max-width: 400px;
      }  
    }
    &-product {
      &__info-item {
        margin-bottom: 10px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &-desc {
      margin-bottom: 10px;
    }
    &-thumb {
      margin-bottom: 20px;
    }
    &-journey {
      padding: 20px 20px 19px;
      &__title {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    &-product {
      margin-bottom: 20px;
      &--sm {
        max-width: 230px;
      }
    }
    &-hover {
      border: 1px solid rgba(224, 224, 224, 0.70);
    }
    &-health-product {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(235, 238, 243, 0.70);
        z-index: 1;
      }
      .box-content {
        max-width: 100%;
        padding: 20px 15px;
      }
    }
  }
}
