.btn {
  display: inline-block;
  padding: 9px 20px 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  &-primary {
    background: $clr-primary;
    border: $clr-primary;
    color: #fff;
    &:hover, &:focus {
      color: #fff;
    }
    &--outline {
      background: #fff;
      border: 1px solid $clr-primary;
      color: $clr-primary;
      &:hover {
        color: $clr-primary;
      }
    }
  }
  &-secondary {
    background: $clr-secondary;
    border: $clr-secondary;
    color: #fff;
    &:hover, &:focus {
      color: #fff;
    }
  }
  &-rounded {
    border-radius: 18px;
  }
  &-icon {
    i {
      margin-right: 10px;
    }
    &-action {
      background: #e0e0e0;
      padding: 5px 10px;
      line-height: 1;
    }
  }
  &-block {
    display: block;
    width: 100%;
    text-align: center;
  }
}
