.circle {
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  margin-right: 9px;
  display: inline-block;
  border-radius: 50%;
  &-primary {
    background: $clr-primary;
  }
  &-secondary {
    background: $clr-secondary;
  }
}