.footer {
  &-top {
    padding: 150px 0 100px;
    background: url('../img/footer-bg.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  &-logo {
    display: block;
    width: 38px;
    margin-bottom: 26px;
    &__caption {
      font-size: 14px;
      line-height: (19/14);
      letter-spacing: -0.02em;
      color: #5F6368;
    }
  }
  &-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: (19/14);
    &__wrapper {
      margin-left: 75px;
    }
    &__title {
      font-size: 14px;
      line-height: (19/14);
      letter-spacing: -0.02em;
      color: #5F6368;
      font-weight: 700;
      margin-bottom: 13px;
    }
    li {
      margin-bottom: 11px;
    }
  }
  &-bottom {
    background: $clr-primary;
    color: #fff;
    padding: 22px 0;
    font-size: 14px;
    line-height: (19/14);
    letter-spacing: -0.02em;
  }

  @include media-breakpoint-down(sm) {
    &-top {
      padding-top: 50px;
      padding-bottom: 20px;
      background: #fafdfa;
    }
    
    &-menu {
      font-size: 12px;
      &__wrapper {
        margin-left: 0;
        margin-bottom: 20px;
      }
      &__title {
        font-size: 13px;
        margin-bottom: 8px;
      }
      li {
        margin-bottom: 9px;
      }
    }
    &-bottom {
      padding: 15px 0;
      font-size: 10px;
      img {
        height: 13px;
        margin-left: 4px;
      }
    }
    
  }
}
